@{
    ViewBag.Title = "SIGN UP FORM";
}
<h2>SignUp</h2>
<form>
    <div class="form-group">
        <label for="exampleInputFirstName">First Name</label>
        <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" required>
    </div>
    <div class="form-group">
        <label for="exampleInputLastName">Last Name</label>
        <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name" required>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" >Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" aria-describedby="passwordHelpBlock" required>
        <small id="passwordHelpBlock" class="text-muted">
            Must be 5 characters long.
        </small>
    </div>
    <div class="form-group">
        <label for="exampleInputGender1">Gender</label>
        <input type="radio" id="male" name="gender" value="male" checked>
        Male
        <input type="radio" id="female" name="gender" value="female">
        Female<br>
    </div>
    <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
    <span></span>
    <button type="reset" class="btn btn-danger">Clear</button>
</form>

