<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <add key="OutputBinFolderName" value="OutputBin" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
   
      <add name="BookEventManagementEntities" connectionString="metadata=res://*/BookEventManagement.csdl|res://*/BookEventManagement.ssdl|res://*/BookEventManagement.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAHIMAMUNJAL\SQLEXPRESS;initial catalog=BookEventManagement;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    
  </connectionStrings>
</configuration>